<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66304712113-k8kpoin0ilnbilqs6j5hkgvbcctgpld0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66304712113-k8kpoin0ilnbilqs6j5hkgvbcctgpld0</string>
	<key>API_KEY</key>
	<string>AIzaSyAg-cAhk8T1HqcA5IaW_QsprZxO2uWxVic</string>
	<key>GCM_SENDER_ID</key>
	<string>66304712113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daffamadeo.nano2</string>
	<key>PROJECT_ID</key>
	<string>stdy-nano2</string>
	<key>STORAGE_BUCKET</key>
	<string>stdy-nano2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66304712113:ios:35b9c378ee3a6737f97190</string>
</dict>
</plist>